@import '../../variables/variables.scss';

/* Skills */

.skillSection {
    text-align: center;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.stacks-image {
    max-width: 100%;
    display: block;
}

// CV

.cv-image {
    max-width: 100%;
    display: block;
}

.buttonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
